{{!< LAYOUT}}

<table class="table table-bordered">
  <tbody>
    <tr>
      <td>Brand</td>
      <td>{{bike.brand}}</td>
    </tr>
    <tr>
      <td>Model</td>
      <td>{{bike.model}}</td>
    </tr>
    <tr>
      <td>Engine</td>
      <td>{{bike.engine}}</td>
    </tr>
    <tr>
      <td>Fuel system</td>
      <td>{{bike.fuel_system}}</td>
    </tr>
    <tr>
      <td>Ignition</td>
      <td>{{bike.fuel_system}}</td>
    </tr>
    <tr>
      <td>Suspension</td>
      <td>{{bike.fuel_system}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <caption>Power</caption>
  <tbody>
    <tr>
      <td>Horsepower</td>
      <td>{{bike.horsepower}}</td>
    </tr>
    <tr>
      <td>Torque</td>
      <td>{{bike.torque}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <caption>Tires</caption>
  <tbody>
    <tr>
      <td>Front</td>
      <td>{{bike.tires_front}}</td>
    </tr>
    <tr>
      <td>Rear</td>
      <td>{{bike.tires_rear}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <caption>Breaks</caption>
  <tbody>
    <tr>
      <td>Front</td>
      <td>{{bike.breaks_front}}</td>
    </tr>
    <tr>
      <td>Rear</td>
      <td>{{bike.breaks_rear}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <caption>Dimensions</caption>
  <tbody>
    <tr>
      <td>Rake</td>
      <td>{{bike.dimensions_rake}}</td>
    </tr>
    <tr>
      <td>Trail</td>
      <td>{{bike.dimensions_trails}}</td>
    </tr>
    <tr>
      <td>Wheelbase</td>
      <td>{{bike.dimensions_wheelbase}}</td>
    </tr>
    <tr>
      <td>Length</td>
      <td>{{bike.dimensions_length}}</td>
    </tr>
    <tr>
      <td>Width</td>
      <td>{{bike.dimensions_width}}</td>
    </tr>
    <tr>
      <td>Height</td>
      <td>{{bike.dimensions_height}}</td>
    </tr>
    <tr>
      <td>Seat height</td>
      <td>{{bike.dimensions_seat_height}}</td>
    </tr>
    <tr>
      <td>Dry weight</td>
      <td>{{bike.dimensions_dry_weight}}</td>
    </tr>
    <tr>
      <td>Wet weight</td>
      <td>{{bike.dimensions_wet_weight}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <caption>Performance</caption>
  <tbody>
    <tr>
      <td>Top 60mph</td>
      <td>{{bike.performance_top_60mph}}</td>
    </tr>
    <tr>
      <td>Trail</td>
      <td>{{bike.performance_trail}}</td>
    </tr>
    <tr>
      <td>Wheelbase</td>
      <td>{{bike.performance_wheelbase}}</td>
    </tr>
  </tbody>
</table>
